<div ng-controller="aboutCtrl" class="container" id="obj-container">
    <h3 id="page-title">About</h3>
    
    <p>SHTTR is the greatest technological innovation since the wheel. For obvious reasons, the entire history of humanity has led up to its creation. Since Patrick Stewart portrayed the complexities of excrement in 2017's ''The Emoji Movie'', SHTTR was inevitable.</p>
    
    <p>Please enjoy a brief history of humanity's glorious defecations:</p>
    
    <div style="width: 50%; margin: 0 auto;">
        <iframe width="420" height="315"
src="https://www.youtube.com/embed/rWUSqSniK2s"></iframe>
    </div>
    
</div>